.visitHeader {
  height: 95%;
  background-size: cover;
  background-position: center;
  background-image: url(./images/visitHeader.jpg);
}

.visitBanner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: $color-pink;
  // text-shadow: 1px 1px 1px $light-grey;

  &__container {
    margin-top: 2rem;
    display: inline-block;
    &--btn {
      font-family: "Ubuntu", sans-serif;
      font-size: 1.3rem;
      letter-spacing: .2rem;
      text-transform: uppercase;
      text-decoration: none;
      opacity: 0.8;
      background-color: $color-pink;
      color: $color-white;
      border-radius: .5rem;
      padding: 1.25rem 2rem;
      cursor: pointer;
      margin-top: 1rem;
      transition: transform .4s;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
      &:hover {
        background-color: $color-white;
        color: $color-pink;
        border: solid $color-pink thin;
        transform: translateY(1rem) scale(1.03);
      }
    }
  }
}

.section-slides {
  margin-top: 5rem;
  text-align: center;
  position: relative;
  &__heading {
    color: $color-yellow;
    position: absolute;
    text-shadow: 1px 1px 1px $dark-grey;
    left: 5rem;
    top: 1rem;
  }
}

.slideshow-container {
  margin-top: 2rem;
  height: 90vh;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  color: $color-yellow;
  text-shadow: 1px 1px 1px $dark-grey;
  font-weight: bold;
  font-size: 4rem;
  transition: 0.6s ease;
  padding: 5rem;
  top: 40%;
  position: absolute;
}

.next {
  right: 0;
}

.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: $color-yellow;
  opacity: 0.8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.section-experience {
  margin-top: 5rem;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  &__heading {
    color: $color-pink;
    position: absolute;
    top: 10%;
    left: 32%;
    text-shadow: 1px 1px 1px $dark-grey;
    @include respond(phone) {
      top: 8%;
      left: 28%;
    }
    @include respond(small) {
    }
  }
  &__container {
    height: 100vh;
    background-image: url(./images/visitFooter.jpg);
    background-size: cover;
    background-position: bottom;

    &--form {
      position: absolute;
      top: 20%;
      left: 39.5%;
      @include respond(phone) {
        left: 42%;
      }
    }
    &--btn {
      font-family: "Ubuntu", sans-serif;
      font-size: 1.3rem;
      letter-spacing: .2rem;
      text-transform: uppercase;
      text-decoration: none;
      opacity: 0.8;
      background-color: $color-pink;
      color: $color-white;
      border-radius: .5rem;
      padding: 1.25rem 2rem;
      cursor: pointer;
      transition: transform .4s;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
      &:hover {
        background-color: $color-white;
        color: $color-pink;
        border: solid $color-pink thin;
        transform: translateY(1rem) scale(1.03);
      }
    }
  }
}
